@import './styles/colors.scss';
@import './styles/menu.scss';

* {
  background-color: $bg;
  color: $text;
  font-family: 'Lora';
}

.ant-layout-sider,
.ant-layout-sider-dark {
  flex: 0 0 320px !important;
  max-width: 320px !important;
  min-width: 320px !important;
  width: 320px !important;
  background-color: $secondary;
}

.ant-layout-sider-children,
.ant-layout-header {
  background-color: $secondary;
  font-size: 26px;
  height: 72px;
}

.ant-layout-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-layout-content,
.ant-layout-footer {
  background-color: $bg;
}

.namedays {
  height: 72px;
  padding: 4px 0;

  .ant-row {
    height: 30px;
    font-size: 18px;
    display: flex;
    align-items: center;
  }

  .today {
    height: 34px;
    font-size: 20px;
  }
}

.align-right {
  text-align: end;
  padding-right: 20px;
}

.align-left {
  text-align: start;
}

.heading {
  font-size: 20px;
  text-align: center;
  padding: 10px;
  margin-bottom: 0;
}

.month {
  padding: 10px 40px;

  h3 {
    font-size: 18px;
    border-bottom: 1px solid darken($hightlight, 10%);
    font-style: italic;
  }

  ul {
    margin-bottom: 0;
    padding-left: 20px;
    li {
      font-size: 16px;
      list-style: none;
    }
  }
}
